{
"printWidth": 80,
"tabWidth": 2,
"useTabs": false,
"semi": true,
"sing requote": true,
"trailingCoea": "all",
"bracketSpacing": true,
"jsxBracketSameLine": false,
"arrowParens": "always",
"proseWrap": "always"
}